@model WebPhongKhamNhi.Models.Dichvuxetnghiem

@{
    ViewData["Title"] = "Tạo mới dịch vụ xét nghiệm";
}



<h1>Tạo dịch vụ xét nghiệm</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenXetNghiem" class="control-label"></label>
                <input asp-for="TenXetNghiem" class="form-control" />
                <span asp-validation-for="TenXetNghiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiPhi" class="control-label"></label>
                <input asp-for="ChiPhi" class="form-control" />
                <span asp-validation-for="ChiPhi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
