@model WebPhongKhamNhi.Models.Dichvuxetnghiem

@{
    ViewData["Title"] = "Sửa dịch vụ";
}



<h1>Sửa dịch vụ xét nghiệm</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaXetNghiem" />
            <div class="form-group">
                <label asp-for="TenXetNghiem" class="control-label">Tên xét nghiệm:  </label>
                @Html.DisplayFor(model => model.TenXetNghiem)
                <span asp-validation-for="TenXetNghiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiPhi" class="control-label">Chi phí</label>
                <input asp-for="ChiPhi" class="form-control" />
                <span asp-validation-for="ChiPhi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại dịch vụ xét nghiệm</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
