@model WebPhongKhamNhi.Models.Donthuoc

@{
    ViewData["Title"] = "EditDonThuocTheoHoSo";
}

<h1>EditDonThuocTheoHoSo</h1>

<h4>Donthuoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDonThuocTheoHoSo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaDonThuoc" />
            <div class="form-group">
                <label asp-for="MaHoSo" class="control-label"></label>
                <select asp-for="MaHoSo" class="form-control" asp-items="ViewBag.MaHoSo"></select>
                <span asp-validation-for="MaHoSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDonThuoc" class="control-label"></label>
                <input asp-for="TenDonThuoc" class="form-control" />
                <span asp-validation-for="TenDonThuoc" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="MaHoSo" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetDonThuocTheoHoSo" asp-route-id="@Model.MaHoSo">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
