
<!DOCTYPE HTML>
<html>

<head>
    <title>The Med-Expert a Medical Hospital Category Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css'>
    <link href="~/usercontent/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--slider-->
    <link href="~/usercontent/css/camera.css" rel="stylesheet" type="text/css" media="all" />
    <script type='text/javascript' src='~/usercontent/js/jquery.min.js'></script>
    <script type='text/javascript' src='~/usercontent/js/jquery.easing.1.3.js'></script>
    @*<script type='text/javascript' src='~/usercontent/js/camera.min.js'></script>*@
    @*<script>
		jQuery(function () {

			jQuery('#camera_wrap_1').camera({
				thumbnails: true
			});

			jQuery('#camera_wrap_2').camera({
				height: '400px',
				loader: 'bar',
				pagination: false,
				thumbnails: true
			});
		});
    </script>*@
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="~/usercontent/images/logo.png">
                </a>
            </div>
            <div class="search">
                <form>
                    <input type="text" value="">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="menu">
            <ul class="nav">
                <li class="active">
                    <a href="index.html" title="Home">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="service.html">Services</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="social-icons">
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank"> </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank"></a>
                    </li>
                    <li>
                        <a class="googleplus" href="#" target="_blank"></a>
                    </li>
                    <li>
                        <a class="pinterest" href="#" target="_blank"></a>
                    </li>
                    <li>
                        <a class="dribbble" href="#" target="_blank"></a>
                    </li>
                    <li>
                        <a class="vimeo" href="#" target="_blank"></a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="main">
            <div class="content">
                @RenderBody()
            </div>
        </div>
        <div class="ftr-bg">
            <div class="footer1 footer-index">
                <div class="copy">
                    <p class="w3-link">
                        © Med Expert. All Rights Reserved | Design by&nbsp;
                        <a href="http://w3layouts.com/"> W3layouts</a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>

</html>