@model WebPhongKhamNhi.Models.Chitietphieuxetnghiem

@{
    ViewData["Title"] = "Sửa";
}



<h4>Sửa chi tiết phiếu xét nghiệm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCTPXN">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaXetNghiem" />
            <input type="hidden" asp-for="MaPhieuXetNghiem" />
            <div class="form-group">
                <label asp-for="ChiPhi" class="control-label">Chi Phí</label>
                <input asp-for="ChiPhi" class="form-control" />
                <span asp-validation-for="ChiPhi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.MaPhieuXetNghiem">Quay lại chi tiết phiếu xét nghiệm</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
